tracer.docker.monitor-interval  20

tracer.kafka.bootstrap.servers   localhost:9092

tracer.log.app.root             /home/eddie/hadoop-2.7.3/logs/userlogs
tracer.log.nodemanager.root     /home/eddie/hadoop-2.7.3/logs

tracer.tsdb.server              localhost:4242